body {
    font-size: 14px;
    color: #333;
    background-color: #EAEAEA;
    letter-spacing: 1px;
}


.title-message {
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    z-index: 5;
    
    
}

.title-message .heading p {
    color: rgba(253, 123, 2, 1);
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
    font-weight: 300;
    letter-spacing: 7px;
}

.name {
   font-size: 24px;
    
}



.unused {
    background-color: rgba(0,0,0,0.5);
    padding: 0.5em;
}

.slides-navigation .prev, 
.slides-navigation .next {
    width: 47px;
    height: 47px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 6;
}
 .slides-navigation a.prev {
        left: 20px;
        background-image: url(../icons/backward-icon-100.png);
    }

 .slides-navigation a.next {
        right: 20px;
        background-image: url(../icons/forward-icon-100.png);

    }

    .section {
        padding: 100px 0;
    }

    .about-image {
        max-width: 90%;
    }

.skills-section,
.contactSection {
        background-color: #333;
        color: #EAEAEA;
}

.skill {
    text-align: center;
    margin-left: 10px;

}

.chart {
    position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;

}

.chart canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.pie-title {
    padding-top: 10px;
    color: #e74c3c;
}

.pie-description {
    color: #e07a1b;
}

.chart .percent {
    color: #e74c3c;
    line-height: 152px;
    display: inline-block;
    font-size: 35px;
}

.chart .percent:after {
    content: '%';
}

.square-item {
    margin-top: 30px;
    position: relative;
}

.square-inner-container {
    position: relative;
    padding: 50px 15px 35px;
    text-align: center;
    border: 2px solid #444;
    border-top: none;
}

.square-inner-container:before,
.square-inner-container:after {
    content: '';
    position: absolute;
    top: 0px;
    width: 30%;
    border-bottom: 2px solid #444;
}

.square-inner-container:after {
    left: 0px;
}

.square-inner-container:before {
    right: 0px;
}

.square-content h2{
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #e74c3c;
}

.square-content .h2-small {
    font-size: 44px;
    padding-top: 6px;
    padding-bottom: 8px;
}

.square-content h3{
    font-size: 13px;
    margin: 0;
    font-weight: 600;
}

.square-icon {
    position: absolute;
    left: 50%;
    top: -30px;
    width: 40%;
    height: 60px;
    margin-left: -20%;
}




.contactButton {
	color: #EAEAEA;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #EAEAEA;
    border-radius: 2px;
}

.contactButton:hover {
	text-decoration: none;
	color: #e74c3c;
	background-color: #EAEAEA;
}

.filter a {
	color: #bdc3c7;
	border: 1px solid #bdc3c7;
	padding: 10px 18px;
	display: block;
}

.filter li {
	display: inline-block;
	padding: 5px
}

.filter .current {
	background-color: #e07a1b;;
	border-color: #e07a1b;
	color: #EAEAEA;
}

.filter {
	text-align: center;
	width: 100%;
}

.section .heading {
	text-align: center;
	padding-bottom: 40px;
	width: 100%;
}

.items li {
	display: inline-block;
	padding: 5px;
}

.itemsContainer {
	width: 100%;
}


.items li img {
	width: 100%;
	-webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.items .item {
	position: relative;
	display: block;
	overflow: hidden;
}

.items .icons {
	position: absolute;
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -20px auto 0 -47px;
    text-align: center;
    z-index: 3;
}

.items .icons img {
	color: #EAEAEA;
    height: 20px;
    width: 20px;
    margin-top: 9px;
}

.items a {
	width: 40px;
    height: 40px;
    background-color: #e07a1b;
    position: relative;
    display: inline-block;


    -webkit-transition: all 0.2s linear, 0.2s;
    -moz-transition: all 0.2s linear, 0.2s;
    -o-transition: all 0.2s linear, 0.2s;
    -ms-transition: all 0.2s linear, 0.2s;
    -transition: all 0.2s linear, 0.2s;

}

.items .imageOverlay {
	width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;

    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.items .item:hover .imageOverlay {
	opacity: 1;
}

.items .openButton {
	float: left;
	left: -200px;
}

.portfolio-title {
    color: #e74c3c;
}

.items .projectLink {
	float: right;
	right: -200px;
}

.items .item:hover .openButton {
	left: 0px;
}

.items .item:hover .projectLink {
	right: 0px;
}

.items .item:hover img {
	-webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -transform: scale(1.05, 1.05);
}

.items {
	padding: 0;
}

.copyrightSection {
	background-color: #000;
	color: #EAEAEA;
	padding: 30px 5px;
}

.copyrightSection p {
	margin: 0;
}

#navigation {
	background-color: #e07a1b;
    padding: 20px 10px;
    z-index: 100;
    width: 100%;
}

#navigation li {
	padding: 0 10px;
}

#navigation li a {
	color: #EAEAEA;
}

.navbar-brand,
.navbar-brand:hover {
	color: #EAEAEA;
}

.navbar-toggler-icon {
	background: url(../icons/menu.png);
    background-size: 100%;

}

.fixedNav #navigation {
	position: fixed;
	top: 0;
}

.loader {
	width: 100%;
	height: 100%;
	background-color: #EAEAEA;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
}

.loader .inner {
	width: 100%;
	height: 100%;
	background: url(/images/loader.gif) center center no-repeat;
}
